name: CMake Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Install dependencies
      run: |
        choco install ninja -y

    - name: Configure CMake
      run: |
        cmake -S . -B build -G "Ninja"

    - name: Build
      run: |
        cmake --build build --config Release

    - name: Upload Build Artifact
      uses: actions/upload-artifact@v3
      with:
        name: StellaSora-Tool-build
        path: build/
